body {
	background-color: white;
	font-family: 'Roboto Slab', serif; 
	color: #FEFCFF;
	}

#navbar {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	}

.navface {
	width: 75px;
	height: 75px;
	background-color: inherit;
	float: left;
	}

.navface:hover {
	background-position: -75px 0px;
	}

#middle {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	}

#topspace {
	height: 2px;
	}

#bannnerstrip {
	height: 400px;
	width: 100%;
	}

.banner {
	width: 400px;
	height: 400px;
	float: left;
}	

.bannerrightcontent {
	margin-top: 175px;
	padding-left: 20px;
	padding-right: 20px;
	}

.arrow {
	width: 50px;
	height: 400px;
	float: left;
	}
	
.arrow:hover {
	background-position: -50px 0px;
	}

#profcontent {
	padding-top: 25px;
	padding-left: 50px;
	padding-bottom: 50px;
	padding-right: 200px;
	line-height: 150%;
	}

body a {
	color: #FEFCFF;
	}

h1 {
	text-indent: -9999px;
	background: url(/images/teamopen_logo.png) no-repeat 0 0;
	width: 500px;
	height: 82px;
	margin-left: 50px;
	margin-right: auto;
	}
	
#circles {
	width: 500px;
	height: 138px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	}

.circle {
	float: left;
	position: relative;
	text-indent: -9999px;
	border-radius: 50%;
	width: 91px;
	height: 91px;
	margin-right: 19px;
	border: 9px solid #FEFCFF;
	background-repeat: no-repeat;
	background-position: -5px -5px;
	text-align: center;
	}

.circletext {
	position: absolute;
	top: 50%;
	height: 36px;
	margin-top: -18px;
	}

.circle:hover {
    background-position: -105px -5px;
	text-indent: 0px;
	text-decoration: none;
	}

.heart {
	float: left;
	position: relative;
	text-indent: -9999px;
	width: 114px;
	height: 110px;
	background-repeat: no-repeat;
	background-position: 0px 5px;
	text-align: center;
	background-image: url(/images/heart.png); 
	}

.hearttext {
	position: absolute;
	top: 50%;
	height: 12px;
	margin-top: -20px;
	}

.heart:hover {
    background-position: -114px 5px;
	text-indent: 25px;
	text-decoration: none;
	}
	
.licensebox {
	width: 400px;
	margin-left: 50px;
	margin-right: auto;
	padding-bottom: 50px;
	}