<!DOCTYPE html>
<html>
<head>
<title>Team Open</title>
<link rel="stylesheet" type="text/css" href="/style.css" />
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
	{% assign numberofprofiles = 12 %}
</head>
<body>
<div id="middle" style="background-color: black;">
<div id="topspace"></div>
<h1>Team Open</h1>
{{content}}
<div id="circles">
<a href="http://twitter.com/intent/tweet?source=webclient&text=I'm+on+%23teamopen+teamopen.cc" target="_blank"><div class="circle" style="background-image: url(/images/twitter.png); "><div class="circletext">share on twitter</div></div></a>
<a href="http://www.facebook.com/creativecommons" target="_blank"><div class="circle" style="background-image: url(/images/facebook.png); "><div class="circletext">share on facebook</div></div></a>
<a href="https://creativecommons.net/civicrm/mailing/subscribe" target="_blank"><div class="circle" style="background-image: url(/images/newsletter.png); "><div class="circletext">receive the newsletter</div></div></a>
<a href="https://creativecommons.net/" target="_blank"><div class="heart"><div class="hearttext">support cc</div></div></a>
</div>
</div>
</body>
</html>
