<html>
<head>
<title>{{ page.title }} | Team Open</title>
<link rel="stylesheet" type="text/css" href="/style.css" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Trykker" />

<!-- This code is what causes the "next" and "previous" buttons to work. When adding new profiles, adjust the pageorder variable for all profiles accordingly, and change the maximum number below to the total number of profiles. -->

{% if page.order == 8 %}
	{% assign orderplusone = 1 %}
{% else %}
	{% assign orderplusone = page.order|plus:1 %}
{% endif %}

{% if page.order == 1 %}
	{% assign orderminusone = 8 %}
{% else %}
	{% assign orderminusone = page.order|minus:1 %}
{% endif %}

</head>
<body>
<div id="middle" style="background-color: {{page:bgcolora}}; ">
<div id="topspace"></div>
<a href="/all/"><h1>Team Open</h1></a>
  {% for page in site.pages %}
    {% if page.layout == 'profiles' %}  
    	{% if page.order == {{orderminusone}} %}
    		<a href="{{page.permalink}}">
    	{% endif %}
    {% endif %}
  {% endfor %}
<div id="arrowleft" style="background: {{page:bgcolorb}} url('/images/leftarrow.png'); " ></div></a>
<div id="bannerleft" style="background: url({{page.headshoturl}}) no-repeat 0 0; " /></div>
<div id="bannerright" style="background: {{page:bgcolorb}} url('/images/bannerright.png'); ">
<div id="bannerrightcontent">
<h2>{{ page.title }} </h2>
<h3>{{ page.blurb }}</h3> 
</div>
</div>
  {% for page in site.pages %}
    {% if page.layout == 'profiles' %}  
    	{% if page.order == {{orderplusone}} %}
    		<a href="{{page.permalink}}">
    	{% endif %}
    {% endif %}
  {% endfor %}
<div id="arrowright" style="background: {{page.bgcolorb}} url('/images/rightarrow.png'); "></div>
</a>
<div style="clear: both; " />
<div id="profcontent">
{{content}}
</div>
<div id="circles">
<a href="http://twitter.com/intent/tweet?source=webclient&text={{ page.blurb }}+teamopen.cc{{ page.url }}+%40{{ page.twitterhandle }}+%23teamopen" target="_blank"><div class="circle" style="background-image: url(/images/twitter.png); "><div class="circletext">share on twitter</div></div></a>
<a href="{{ page.facebookshare }}" target="_blank"><div class="circle" style="background-image: url(/images/facebook.png); "><div class="circletext">share on facebook</div></div></a>
<a href="https://creativecommons.net/civicrm/mailing/subscribe" target="_blank"><div class="circle" style="background-image: url(/images/newsletter.png); "><div class="circletext">receive the newsletter</div></div></a>
<a href="https://creativecommons.net/" target="_blank"><div class="heart"><div class="hearttext">support cc</div></div></a>
</div>
<div class="licensebox">
<p><a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a></p>
<p><small><a href="{{page.url}}"><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">{{ page.title }} (Team Open)</span></a> was written by {{ page.writer }} for <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Creative Commons</span>. This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.</small></p>

	{% if page.drawingby %}
<p><small>The illustration of {{ page.title }} was created by <a href="{{ page.drawingbyurl }}">{{ page.drawingby }}</a>. To the extent possible under the law, {{ page.drawingby }} has waived all copyright and related or neighboring rights under the <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0 Public Domain Declaration</a>.</small></p>
	{% endif %}

</div>
</div>
</body>
</html>
